:root {
  --header-height: 150px;
  --footer-height: 100px;
}

.debug {
  padding: 1rem;
  border: 2px dashed red;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  height: var(--header-height);
}
header > div h1 {
  font-size: 3rem;
  font-weight: bold;
}
img {
  height: 100%;
}

.wrapper {
  height: calc(100vh - var(--footer-height) - var(--header-height));
  background-color: #7fffd4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 1000px;
  height: 1000px;
  border: 3px solid black;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.cell-100,
.cell-81,
.cell-49 {
  background-color: rgb(179, 224, 241);
  font-size: 1.5rem;
  font-weight: bolder;

  line-height: 100%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.cell-100 {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.cell-81 {
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.cell-49 {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

footer {
  height: var(--footer-height);
}

div[class*="cell"].clicked {
  background-color: rgb(12, 51, 66);
  color: white;
}
